@use "./abstracts/colors.scss" as *;
@use "./abstracts/breakpoints" as *;

.nav-top {
  display: flex;
  justify-content: end;
  background-color: $bg-color-primary;
  padding: 0.5rem 1.5rem;
}

.social-icons {
  span {
    background-color: $bg-color-secondary;
    border-radius: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: $bg-color-primary;
      font-size: 16px;

      @include break-points(md) {
        font-size: 18px;
      }
    }
  }

  .filled-icon {
    color: $bg-color-secondary;
  }
}

.pc-menu {
  display: none;

  .menu-list a {
    padding-left: 10px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    color: $text-color-secondary;
    text-decoration: none;

    &:hover {
      color: $text-color-highlight;
    }
  }
  @include break-points(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0;
  }

  @include break-points(lg) {
    .menu-list a {
      padding-left: 30px;
    }
  }
}

.mobile-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      width: 100%;
    }

    span {
      text-align: center;
      color: $text-color-primary;

      &:hover {
        color: $text-color-highlight;
      }
    }

    a {
      text-align: center;
      width: 100%;
      text-decoration: none;
      color: $text-color-primary;

      &:hover {
        color: $text-color-highlight;
      }
    }
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu-logo {
  max-width: 100px;

  @include break-points(md) {
    max-width: 120px;
  }
}

.nav-close {
  display: none;
}
.nav-open {
  display: flex;
}

.nav-bar {
  a.active {
    color: $text-color-highlight;
  }
}

.mobile-menu {
  a.active {
    color: $text-color-highlight;
  }
}
